@model List<City>
<div class="mb-2">
    @Html.ActionLink("Add new city","Add","City","", new { @class= "btn btn-primary" })
</div>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Hotels</th>
            <th scope="col">Cleaners</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var city in @Model)
        {
            <tr>
                <th scope="row">
                    @Html.ActionLink(@city.Name + " Hotels","SelectIndex", "Hotel", new {id = @city.Id } ,new { @class= "btn btn-success" })
                </th>
                <td>
                    @Html.ActionLink(@city.Name + " Cleaners","SelectIndex", "Cleaner", new {id = @city.Id } ,new { @class= "btn btn-success" })
                </td>
            </tr>
        }
    </tbody>
</table>