@model SponsorModel

@using (Html.BeginForm("SponsorsSendSubmit", "Home", FormMethod.Post))
{
    <h3>Become a sponsor</h3>
    <div>
        Name 
        @Html.Raw(" ")
        @Html.TextBoxFor(a => a.FirstName)
    </div>
    <div>
        Surname
        @Html.Raw(" ")
        @Html.TextBoxFor(a => a.LastName)
    </div>
    <div>
        @Html.LabelFor(a => a.Amount) to donate
        @Html.Raw(" ")
        @Html.TextBoxFor(a => a.Amount)
    </div>
    <div>
        Animal you wish to donate for (enter ID):
        @Html.Raw(" ")
        @Html.TextBoxFor(a => a.ZooId)
    </div>

    <input type="submit" value="Submit" />

}
@using (Html.BeginForm("SponsorsSendDelete", "Home", FormMethod.Post))
{
    <br />
    <h3>Leave sponsorship</h3>
    <div>
        @Html.LabelFor(a => a.Id)
        @Html.Raw(" ")
        @Html.TextBoxFor(a => a.Id)
    </div>
    <br />

    <input type="submit" value="Delete" />
}
@using (Html.BeginForm("SponsorsClearReset", "Home", FormMethod.Post))
{
    <input type="submit" value="Reset Ids if list is empty" />
}

@using (Html.BeginForm("SponsorsSendUpdate", "Home", FormMethod.Post))
{
    <br />
    <h3>Update sponsorship</h3>
    <div>
        @Html.LabelFor(a => a.Id)
        @Html.TextBoxFor(a => a.Id)
    </div>
    <br />
        <div>
        New @Html.LabelFor(a => a.FirstName)
        @Html.TextBoxFor(a => a.FirstName)
    </div>
    <div>
        New @Html.LabelFor(a => a.LastName)
        @Html.TextBoxFor(a => a.LastName)
    </div>
    <div>
        New @Html.LabelFor(a => a.Amount)
        @Html.TextBoxFor(a => a.Amount)
    </div>
    <div>
        New @Html.LabelFor(a => a.ZooId)
        @Html.TextBoxFor(a => a.ZooId)
    </div>

    <input type="submit" value="Update" />

}