@model List<SponsorModel>
@foreach(var taskModel in @Model){
<ul class="list-group list-group-horizontal">  

    <li class="list-group-item .flex-fill">@taskModel.Id</li>
    <li class="list-group-item">@taskModel.FirstName @taskModel.LastName - @taskModel.Amount eurų suma remia @taskModel.ZooName</li>
 </ul>
}
