@model _0106HotelApp.Dtos.AssignCleaner

@using (Html.BeginForm("AssignCleaner", "Room", FormMethod.Post))
{
        @Html.HiddenFor(a=>a.Room.Id)
        @Html.HiddenFor(a=>a.Room.HotelId)


    <div>
        @Html.LabelFor(a=>a.AllCleaners)
    </div>
    <div>
        @Html.DropDownListFor(a=>a.CleanerId, new SelectList(@Model.AllCleaners,"Id", "Name"))
@*        <div class="text-danger">
            <small>
                @Html.ValidationMessageFor(a=>a.Cleaner.CityId)
            </small>
        </div>*@
    </div>

    @*@Html.ActionLink("Cancel","SelectedIndex", "Room", new {hotelId = @Model.HotelId},new { @class= "mt-2 btn btn-secondary" })*@
    <input type="submit" value="Submit" class="mt-2 btn btn-primary" />
}

