@model _0106HotelApp.Dtos.AssignCleaner

@using (Html.BeginForm("AssignCleaner", "Room", FormMethod.Post))
{
        @Html.HiddenFor(a=>a.Room.Id)
        @Html.HiddenFor(a=>a.Room.HotelId)


    <div>
        @Html.LabelFor(a=>a.AllCleaners)
    </div>
    <div>
        @Html.DropDownListFor(a=>a.CleanerId, new SelectList(@Model.AllCleaners,"Id", "Name"))
    <input type="submit" value="Submit" class="mt-2 btn btn-primary" />
}

