@model List<Room>
<div class="mb-2">
    @Html.ActionLink("Add new room","Add","Room","", new { @class= "btn btn-primary" })
</div>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Numeris</th>
            <th scope="col">Aukštas</th>
            <th scope="col">Hotelis</th>
            <th scope="col">Miestas</th>
            <th scope="col">Užimtas</th>
            <th scope="col" style="width: 20%">Admin</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var room in @Model)
        {
            <tr>
                <th scope="row">@room.Id</th>
                <td>@room.Number</td>
                <td>@room.Floor</td>
                <td>@room.Hotel.Address</td>
                <td>@room.Hotel.City.Name</td>
                <td>@(room.Booked ? "Užimtas" : "Tuščias")</td>
                <td>
                    @Html.ActionLink("Update","Update", "Room", new {id = @room.Id } ,new { @class= "btn btn-secondary" })
                    @Html.ActionLink("Delete","Delete", "Room", new {id = @room.Id } ,new { @class= "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>