@model _0106HotelApp.Dtos.CreateHotelRoom
<div class="mb-2">
    @Html.ActionLink("Add new room","AddSpecific","Room", new {hotelId = @Model.SelectedHotel}, new { @class= "btn btn-primary" })
</div>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Numeris</th>
            <th scope="col">Aukštas</th>
            <th scope="col">Hotelis</th>
            <th scope="col">Miestas</th>
            <th scope="col">Užimtas</th>
            <th scope="col">Reikia valyti</th>
            <th scope="col" style="width: 20%">Admin</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var room in @Model.Rooms)
        {
            <tr>

                <th scope="row">@room.Id</th>
                <td>@room.Number</td>
                <td>@room.Floor</td>
                <td>@room.Hotel.Address</td>
                <td>@room.Hotel.City.Name</td>
                <td>@(room.Booked ? "Užimtas" : "Tuščias")</td>
                <td>@(room.NeedsCleaning ? "Reikia" : "Nereikia")</td>
                <td>
                    @if (@room.Booked != true)
                    {
                        @Html.ActionLink("Book","Book", "Room", new {id = @room.Id}, new { @class= "btn btn-secondary" })
                    }
                    else if (@room.NeedsCleaning != true)
                    {
                        @Html.ActionLink("Leave","Leave", "Room", new {id = @room.Id}, new { @class= "btn btn-secondary" })
                    }
                        @Html.ActionLink("Assign Cleaner","AssignCleaner", "Room", new {id = @room.Id}, new { @class= "btn btn-secondary" })
                </td>
            </tr>
        }
    </tbody>
</table>