@model List<Todo>

<h3>Todos</h3>
<ul>
    @foreach (var todo in @Model)
    {
        <li>
            @todo.Id @todo.Name @todo.Description
            @Html.ActionLink("Update", "Update", "Todo", new { id = @todo.Id }, new { @class= "btn btn-secondary" })  @*Pirmas yra tekstas, antras yra action*@
            @Html.ActionLink("Delete", "Delete", "Todo", new { id = @todo.Id }, new { @class= "btn btn-danger" }) @*Kad butu bootstrapo mygtukas new class*@
        </li>

    }
</ul>
