@model List<Cleaner>
<div class="mb-2">
    @Html.ActionLink("Add new cleaner","Add","Cleaner","", new { @class= "btn btn-primary" })
</div>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Vardas</th>
            <th scope="col">Pavardė</th>
            <th scope="col">Miestas</th>
            <th scope="col">Assign</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cleaner in @Model)
        {
            <tr>
                <th scope="row">@cleaner.Id</th>
                <td>@cleaner.Name</td>
                <td>@cleaner.Surname</td>
                <td>@cleaner.City.Name</td>
                <td>
                    @Html.ActionLink("Assign room","AssignRoom", "Cleaner", new {id = @cleaner.Id}, new { @class= "btn btn-secondary" })
                </td>
            </tr>
        }
    </tbody>
</table>