@model _0106HotelApp.Dtos.CreateHotel

@using (Html.BeginForm("Add", "Hotel", FormMethod.Post))
{
    <div>
        @Html.LabelFor(a=>a.Hotel.Address)
    </div>
    <div>
        @Html.EditorFor(a=>a.Hotel.Address)
        <div class="text-danger">
            <small>
                @Html.ValidationMessageFor(a=>a.Hotel.Address)
            </small>
        </div>
    </div>
    <div>
        @Html.LabelFor(a=>a.Hotel.CityId)
    </div>
    <div>
        @Html.DropDownListFor(a=>a.Hotel.CityId, new SelectList(@Model.AllCities,"Id", "Name"))
        <div class="text-danger">
            <small>
                @Html.ValidationMessageFor(a=>a.Hotel.CityId)
            </small>
        </div>
    </div>
    @Html.ActionLink("Cancel","Index", "Hotel","" ,new { @class= "mt-2 btn btn-secondary" })
    <input type="submit" value="Submit" class="mt-2 btn btn-primary" />
}

