@model List<Hotel>
<div class="mb-2">
    @Html.ActionLink("Add new hotel","Add","Hotel","", new { @class= "btn btn-primary" })
</div>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Adresas</th>
            <th scope="col">Miestas</th>
            <th scope="col" style="width: 20%">Room list</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var hotel in @Model)
        {
            <tr>
                <th scope="row">@hotel.Id</th>
                <td>@hotel.Address</td>
                <td>@hotel.City.Name</td>
                <td>
                    @Html.ActionLink("Rooms","SelectIndex", "Room", new {id = @hotel.Id } ,new { @class= "btn btn-success" })
@*                    @Html.ActionLink("Update","Update", "Hotel", new {id = @hotel.Id } ,new { @class= "btn btn-secondary" })
                    @Html.ActionLink("Delete","Delete", "Hotel", new {id = @hotel.Id } ,new { @class= "btn btn-danger" })*@
                </td>
            </tr>
        }
    </tbody>
</table>